.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  // height: 100%;
  overflow: hidden;
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  &__nav{
    width: 25vw;
  }
  &__main{
    margin-left: 50px;
    margin-top: 10px;
    width: 75vw;
    height: 100%;

  }
}
